<p style="color: green"><%= notice %></p>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center">Authors</h1>
      <%= form_for_filterrific @filterrific do |f| %>
        <div class="row">
          <div class="form-group col-4">
            <%= f.label :sorted_by, "Sort by" %>
            <%= f.select :sorted_by, @filterrific.select_options[:sorted_by], {include_blank: '- Any -'}, class: 'form-control' %>
          </div>
          <div class="form-group col-12">
            <%= f.label :search_query, "Search" %>
            <%= f.text_field :search_query, class: 'form-control', placeholder: 'Search' %>
          </div>
          <div class="form-group col-12">
            <%= f.label :with_name, "Name" %>
            <%= f.text_field :with_name, class: 'form-control', placeholder: 'Name' %>
          </div>
        </div>
        <div class="text-center">
          <%= f.submit "Search", class: 'btn btn-success btn-block mt-3' %>
        </div>
      <% end %>
      <%= render partial: 'authors/author', locals: { authors: @authors } %>
      <div class="flickr_pagination mb-4">
        <%= will_paginate @authors, :container => false %>
      </div>

    </div>
  </div>
</div>
