<h2></h2>
  <section class="vh-100 ">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Change your password</h2>
                  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                    <%= f.hidden_field :reset_password_token %>

                    <div class="mb-4">
                      <%= f.label :password, "New password" %><br />
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                      <% end %>
                      <%= f.password_field :password, autofocus: true, autocomplete: "new-password",class:"form-control form-control-lg"%>
                    </div>

                    <div class="mb-4">
                      <%= f.label :password_confirmation, "Confirm new password",class:"form-label" %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control form-control-lg" %>
                    </div>

                    <div class="d-flex justify-content-center">
                      <%= f.submit "Change my password",class:"btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
                    </div>
                  <p class="small fw-bold mt-2 pt-1 mb-0"> 
                    <%= render "devise/shared/links" %>
                  </p>
                  <% end %>

